.formacion {
    padding: 3rem 7rem 3rem 7rem;
    background-color: var(--background-azul-claro);
    text-align: center;
}

.formacion__contenido {
    display: flex;
    justify-content: space-around;
}

.formacion__contenedor {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--blanco);
    margin: 0.5rem;
    text-align: left;
    padding-bottom: 2rem;
}
.formacion__imagen{
    width: 60%;
    height: 80%;
}
.formacion__instituto {
    padding: 1rem 0 .5rem 0;
    font-weight: bold;
}

.formacion__fechas {
    font-family: var(--Roboto);
}



@media screen and (max-width:768px) {
    .formacion {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .formacion__imagen{
        width: 70%;
    }
    .formacion__contenedor {
        padding: 0;
        padding: 1rem;
        text-align: center;
    }
}

@media screen and (max-width:480px) {
    .formacion {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .formacion__contenido {
        flex-direction: column;
        align-items: center;
    }
    .formacion__contenedor {
        width: 70%;
        padding: 0;
        padding: 1rem;
        text-align: center;
    }
}