.formulario {
    display: flex;
    padding: 3rem 7rem 3rem 7rem;
    background-color: var(--background-azul-claro);
}

.formulario__Info {
    padding-left: 1rem;
    font-family: var(--Roboto);
}

legend {
    padding-bottom: .5rem;
}

.formulario__input {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}



/**/
.formulario__input--invalid {
    margin-bottom: 0.5rem;
}

.formulario__input--invalid .input {
    border: 1px solid var(--boton-rojo);
    border-radius: 7px;
}

.formulario__input--invalid .input__label {
    color: var(--boton-rojo);
}

.input-message-error {
    display: none;
}

.formulario__input--invalid .input-message-error {
    color: var(--boton-rojo);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

/**/

.formulario__textarea {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
}




.formulario__textarea--invalid {
    margin-bottom: 0.5rem;
}

.formulario__textarea--invalid .input {
    border: 1px solid var(--boton-rojo);
}

.formulario__textarea--invalid .input__label {
    color: var(--boton-rojo);
}

.formulario__textarea .input-message-error {
    display: block;
    color: var(--boton-rojo);
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}








@media screen and (max-width:768px) {
    .formulario {
        padding-right: 3.5rem;
        padding-left: 3.5rem;
    }

    .formulario img {
        display: none;
    }

    .formulario__Info {
        padding-left: 0;
    }
}

@media screen and (max-width:480px) {
    .formulario {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .formulario img {
        display: none;
    }

    .formulario__Info {
        padding-left: 0;
    }
}