.skill {
    background: var(--background-ceniza-claro);
    padding: 3rem 7rem 3rem 7rem;
    text-align: center;

}

.skill__lista {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.skill__listado {
    width: 120px;
    height: 130px;
    background: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;
    text-align: left;
    margin-bottom: 1.5rem;
    transition: all 0.2s ease-in;
}

.skill__listado:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.skill__imagen {
    width: 2rem;
    padding-bottom: .5rem;
}



@media screen and (max-width:768px) {
    .skill {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }

    .skill__lista {
        flex-wrap: wrap;
    }

    .skill__listado {
        width: 150px;
        height: 80px;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:480px) {
    .skill {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .skill__lista {
        flex-wrap: wrap;
    }

    .skill__listado {
        width: 120px;
        height: 80px;
        margin-bottom: 1rem;
    }
}