.sobre__contenedor {
    padding: 3rem 7rem 2rem 7rem;
    background: var(--background-ceniza-claro);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.sobre__imagen{
    background: url(/assets/img/perfil.jpg);
    display: block;
    height: 300px;
    width: 600px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;

}

.referencia__personal {
    text-align: justify;
    padding-right: 2rem;
}

.personal__presentacion {
    font-family: var(--Roboto);
    font-size: 3.5rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.personal__parrafo {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}
b{
    font-weight: bold;
    font-style: italic;
}

.lista__redes {
    padding-right: 1rem;
    text-decoration: none;
    color: var(--fuente-ceniza-claro);
    font-weight: bold;
    transition: all 1s;
}

.lista__redes:hover {
    text-decoration: underline;
    color: var(--fuente-enlace);
}

.sobre_Mi {
    background-color: var(--background-azul-claro);
    padding: 3rem 7rem 3rem 7rem;
}

.sobre__parrafo {
    width: 70%;
    font-size: 1.2rem;
    text-align: justify;
}




@media screen and (max-width:768px){
    .sobre__contenedor{
        padding-left:3.5rem;
        padding-right:3.5rem;

    }
    .sobre__imagen{
        height: 200px;
    }
    .personal__presentacion{
        padding-top: 2rem;
        font-size: 1.5rem;
    }
    .personal__parrafo{
        font-size: 1rem;
    }
    .sobre_Mi{
        padding-left:3.5rem;
        padding-right:3.5rem;
    }
    .sobre__parrafo{
        width: 100%;
        text-align: left;
    }
    
}

@media screen and (max-width:480px) {
    .sobre__contenedor {
        padding-left: 1rem;
        padding-right: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .sobre__imagen {
        width: 50%;
    }

    .personal__presentacion {
        padding-top: 2rem;
        font-size: 1.5rem;
    }

    .personal__parrafo {
        font-size: 1rem;
    }

    .sobre_Mi {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .sobre__parrafo {
        width: 100%;
        text-align: left;
        font-size: 0.75rem;
    }
}