:root {
    --black: #00161C;
    --blanco: #FFFFFF;
    --background-azul-claro: #cceaf7;
    --background-ceniza-claro: #F7F4F4;
    --background-ceniza-medio: #D9D9D9;

    --boton-rojo: #B72E2E;

    --fuente-ceniza-claro: #666666;
    --fuente-ceniza-oscuro: #4F4C4C;

    --planes-card-start: #EAF2FD;
    --planes-card-ultra: #690F8E;
    --planes-card-mega: #B00024;

    --fuente-boton: #6078db;
    --background-azul: #4595b8;

    --background-footer: #333333;

    --montserrat: 'Montserrat', sans-serif;
    --Roboto: 'Roboto Slab', serif;
    --lato: 'Lato', sans-serif;

}

body {
    font-family: 'Montserrat', sans-serif;
    
}
.titulos{
    font-size: 2rem;;
    font-weight: bold;
    padding-bottom: 2rem;
}



