.formulario {
    display: flex;
    padding: 3rem 7rem 3rem 7rem;
    background-color: var(--background-azul-claro);
}

.formulario__Info {
    padding-left: 1rem;
    font-family: var(--Roboto);
}

legend {
    padding-bottom: .5rem;
}

.formulario__input {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.input {
    box-sizing: border-box;
    padding: 1.375rem 0.5rem 0.5rem;
    height: 2.5rem;
    width: 100%;
}

.input::placeholder {
    visibility: hidden;
    color: #00000000;
}

.input:focus {
    outline: none;
}

.input__label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    transition: all 0.25s;
}

.input:not(:placeholder-shown)+.input__label,
.input:focus+.input__label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
}

.input-message-error {
    display: none;
}

.formulario__textarea {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.input__tarea {
    box-sizing: border-box;
    border-radius: 7px;
    width: 100%;
    height: 200px;
    min-height: 3rem;
}
.button__Formulario{
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--background-azul);
    color: var(--blanco);
    border: none;
    transition: all 1s ease-in-out;
    cursor: pointer;
}
.button__Formulario:hover{
    background-color: var(--fuente-boton);
    font-size: 1.3rem;
}



@media screen and (max-width:768px){
    .formulario{
        padding-right: 3.5rem;
        padding-left: 3.5rem;
    }
    .formulario img{
        display: none;
    }
    .formulario__Info{
        padding-left: 0;
    }
}

@media screen and (max-width:480px){
    .formulario{
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .formulario img{
        display: none;
    }
    .formulario__Info{
        padding-left: 0;
    }
}
    

